html {
  * {
    font-family: "Futura PT", sans-serif !important;
  }
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: transparent;
}

.link-hover {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s ease;
  &:hover {
    color: rgb(var(--v-theme-primary)) !important;
  }
}

.swiper-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  pointer-events: none;
  padding: 16px 0;
  .swiper-button {
    pointer-events: auto;
  }
}

.rotate-left {
  transform: rotate(.5turn);
}

.text-field {
  --v-input-control-height: 44px !important;
  --v-input-padding-top: 4px !important;
  .v-field {
    --v-field-padding-bottom: 4px !important;
  }
}

.lh-normal {
  line-height: normal !important;
}

.elevation-light {
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px 0 !important;
}

.card-hover {
  i, span, p {
    transition: color .3s;
    color: rgb(var(--v-theme-secondary));
  }
  .v-card__overlay {
    transition: background-color .3s;
  }
  &:hover {
    i, span, p {
      color: rgb(var(--v-theme-primary));
    }
    .v-card__overlay {
      background-color: rgb(var(--v-theme-primary));
    }
  }
}

.text-line {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: rgb(var(--v-theme-red));
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
  }
  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    z-index: 10;
  }
}