@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicDemi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./Futura/FuturaCyrillicHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
